# Database Configuration
DB_PG_HOST='localhost'
DB_PG_PORT='5432'
DB_PG_USER='postgres'
DB_PG_PASSWORD='postgres'
DB_PG_NAME='postgres'
DB_PG_LOGGING=true
# Application Configuration
NODE_ENV=development
API_KEY=tech_challenge_secret_key
JWT_SECRET=your_jwt_secret_key_here
JWT_ACCESS_TOKEN_EXPIRATION_TIME=3600
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400

# Mercado Pago Configuration
PAID_MARKET_BASE_URL='https://api.mercadopago.com/'
PAID_MARKET_ACCESS_TOKEN='PAID_MARKET_ACCESS_TOKEN'
PAID_MARKET_USER_ID='PAID_MARKET_USER_ID'
FAKE_PAYMENT_PROVIDER='N' #'S' -> o S ele utilizará o fakeProvider, N -> mercado pago