DB_PG_HOST='localhost'
DB_PG_PORT='5432'
DB_PG_USER='ms_tech'
DB_PG_PASSWORD='123'
DB_PG_NAME='snack_bar'
API_KEY='xFcv8efXxt'
JWT_SECRET='kYY3K4PH1W'
JWT_ACCESS_TOKEN_EXPIRATION_TIME='3d'
JWT_REFRESH_TOKEN_EXPIRATION_TIME='7d'
NODE_ENV='dev'