services:
  postgres:
    image: postgres:15-alpine
    container_name: customer-payment-db
    environment:
      POSTGRES_DB: ${DB_PG_NAME}
      POSTGRES_USER: ${DB_PG_USER}
      POSTGRES_PASSWORD: ${DB_PG_PASSWORD}
    ports:
      - '${DB_PG_PORT}:${DB_PG_PORT}'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default

  app:
    depends_on:
      postgres:
        condition: service_healthy
    build: .
    container_name: app
    ports:
      - '${PORT}:${PORT}'
    env_file:
      - .env
    networks:
      - default

networks:
  default:
    driver: bridge
