# Database Configuration
DB_PG_HOST='localhost'
DB_PG_PORT='5432'
DB_PG_USER='postgres'
DB_PG_PASSWORD='postgres'
DB_PG_NAME='postgres'
DB_PG_LOGGING=true

# Application Configuration
NODE_ENV=development
API_KEY=tech_challenge_secret_key
API_KEY_NAME_ORDER=order-api-key
ORDER_SERVICE_BASE_URL_PARAM=order-base-url
EXTERNAL_PAYMENT_CONSUMER_KEY=payment-key
JWT_SECRET_NAME=secret123
JWT_ACCESS_TOKEN_EXPIRATION_TIME=10000
